{{!-- {{#if isLoggedIn}}
<h1>{{user.username}}</h1>
{{/if}} --}}

<li>
    <div class="grid-x line-container">
        <div class="cell line-item medium-3 small-12 align-self-middle">
            {{companyCode}} 
        </div>
        <div class="cell line-item medium-3 small-6 align-self-middle">
            {{colorCode}} 
        </div>
        <div class="cell line-item medium-3 small-6 align-self-middle">
            Quantity: {{weight}}
        </div>
        <div class="cell line-item medium-3 small-12 align-self-middle">
            <button class="button add-id" data-id="{{_id}}" data-open="addtoRBar{{_id}}">
                Add
                <div class="reveal" id="addtoRBar{{_id}}" data-reveal>
                    <form class="addtoRBar" action="/{{type}}/{{companyCode}}/{{_id}}/add" method="post">
                        {{!-- <label for="date">Date: </label>
                            <input type="date" name="date" id="datepicker"> --}}
                        <label for="">Add to {{companyCode}} {{colorCode}}</label>
                            <input name="weightIn" type="text" id="weightIn">
                        <p><input type="submit" class="button expanded" id="addtoRBar" value="Add" data-close></input></p>
                    </form>
                </div>
            </button>
            <button class="button subtract-id" data-id="{{_id}}" data-open="subtractRBar{{_id}}">
                Remove
                <div class="reveal" id="subtractRBar{{_id}}" data-reveal>
                    <form class="subtractRBar" action="/{{type}}/{{companyCode}}/{{_id}}/subtract" method="post">
                        {{!-- <label for="date">Date: </label>
                            <input type="date" name="date" id="datepicker"> --}}
                        <label for="">Subtract from {{companyCode}} {{colorCode}}</label>
                            <input name="weightOut" type="text" id="weightOut">
                        <p><input type="submit" class="button expanded" id="subtractRBar" value="Subtract" data-close></input></p>
                    </form>
                </div>
            </button>
            <button class="button" id='deleteColor{{_id}}' onclick="window.location.href = '/delete/{{_id}}';">
                Delete
            </button>
        </div>
    </div>
</li>