<li data-id="{{_id}}">
    <div class="cell small-3" data-id="{{_id}}">
        Company: {{companyCode}} 
    </div>
    <div class="cell small-3" data-id="{{_id}}">
        Code: {{colorCode}} 
    </div>
    <div class="cell small-3" data-id="{{_id}}">
        Quantity: {{weightIn}} 
    </div>
    <div class="cell small-3" data-id="{{_id}}">
        <div class="button" data-id="{{_id}}">Add</div>
        <div class="button" data-id="{{_id}}">Remove</div> 
    </div>
    
</li>
