<li>
<div class="grid-x">
    <div class="cell small-3">
        Company: {{companyCode}} 
    </div>
    <div class="cell small-3">
        Code: {{colorCode}} 
    </div>
    <div class="cell small-3">
        Quantity: {{weight}} 
    </div>
    <div class="cell small-3">
        <div class="button" id='deleteColor{{_id}}' onclick="window.location.href = '/delete/{{_id}}';">Remove</div>
    </div>
</div>
</li>